{% extends "layouts/base.html" %}

{% block title %} Editor {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}

<!-- Plugin css for this page -->
<link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="/static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">

<!-- Include quill stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
  <!-- Create toolbar container -->
  <div id="toolbar" class="p-2 m-4">
    <span class="ql-formats">
      <select class="ql-font">
        <option selected="selected"></option>
        <option value="serif"></option>
        <option value="monospace"></option>
      </select>
      <select class="ql-size">
        <option value="small"></option>
        <option selected="selected"></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>
    </span>
    {% for classes in formats %}
    <span class="ql-formats">
      {% for c in classes %}
      {% if isinstance(c, tuple) %}
      <button class="ql-{{c[0]}}" value="{{c[1]}}"></button>
      {% else %}
      <button class="ql-{{c}}"></button>
      {% endif %}
      {% endfor %}
    </span>
    {% endfor %}
    <!-- Own Buttons -->
    <span class="ql-formats buttons">
      <button id="btn-generate-1" type="button" class="btn btn-generate my-2 btn-fw">Line</button> <br>
      <button id="btn-generate-2" type="button" class="btn btn-generate my-2 btn-fw">Paragraph</button> <br>
      <button id="btn-generate-3" type="button" class="btn btn-generate my-2 btn-fw">Chapter</button>
    </span>
    <span class="ql-formats buttons">
      <button id="btn-analyze" type="button" class="btn btn-analyze my-2 btn-fw">Analyze</button> <br>
      <button id="btn-reset-colors" type="button" class="btn btn-analyze my-2 btn-fw">Reset Colors</button>
    </span>
    <span class="ql-formats">
      <button id="delete-button" type="button" class="btn btn-inverse-danger btn-fw" data-toggle="modal"
        data-target="#deleteModal">Delete</button>
    </span>
  </div>

  <!-- Create the editor container -->
  <div id="editor" class="p-5 m-4">
    {{ post.content | safe }}
  </div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('home_blueprint.delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>

</div>


{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}

<script src="/static/assets/vendors/chart.js/Chart.min.js"></script>
<script src="/static/assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="/static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="/static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="/static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Pass post id (for POST request when saving) -->
<script type="text/javascript">
  var post_id = "{{ post.id }}"
</script>
<!-- Initialize Quill editor -->
<script src="/static/assets/js/editor.js"></script>

{% endblock javascripts %}