{% extends "template.html"%}

{% block stylesheets %} 
<!-- My CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sign-up.css') }}">
{% endblock %}

{% block content %}

<main>
<div class="container mainview">
    <div class="row h-100">
        <div class="col-1"></div>
        <div class="form-signup col-10 col-md-5 col-lg-5 col-xl-4 text-center my-auto shadow-lg">
            <!--Section: Live preview-->
            <section>
    
            <!-- Default form register -->
            <form class="text-center p-3">
    
                <p class="h4 mb-2">DeepNovel</p>
                <p class="h7 mb-2">Sign up for your free Novel writer companion online, or take a look at the <a href="{{ url_for('demo') }}" >Demo</a>.</p>

                <div class="form-row mb-2">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                </div>
                </div>
    
                <!-- E-mail -->
                <input type="email" id="defaultRegisterFormEmail" class="form-control mb-2" placeholder="E-mail">
    
                <!-- Password -->
                <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2">
                At least 8 characters and 1 digit
                </small>
    
                <!-- Phone number -->
                <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-2">
                Optional - for two step authentication
                </small>
    
                <!-- Newsletter -->
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>
    
                <!-- Sign up button -->
                <button class="btn btn-info my-1 btn-block waves-effect waves-light" type="submit">Sign up</button>
                <p style="font-size: 0.6rem;">Or click
                <a href="{{url_for('login')}}">Log in</a> if you already have an account.</p>
            
                <!-- Terms of service -->
                <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>.
    
            </p></form>
            <!-- Default form register -->
    
            </section>
            <!--Section: Live preview-->

        </div>

        <div class="col-1 col-md-7 col-lg-7 col-xl-8"></div>
    </div>
</div>

</main>
{% endblock %}

{% block scripts %}{% endblock %}
