{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid page-body-wrapper full-page-wrapper">
  <div class="row w-100 m-0">
    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">

      <div class="row h-100">
        <div class="col-12 col-md-10 col-lg-10 col-xl-8 text-center m-auto">
          <div class="logo-header">
            <img src="{{ url_for('static', filename='assets/images/loading_logo_big.gif')}}" alt="DeepNovel">
          </div>
          <div class="form-signup shadow-lg">
            <!--Section: Live preview-->
            <section>

              <p class="h7 my-2">Sign up for your free Novel writer companion online, or take a look at the <a
                  href="{{ url_for('base_blueprint.login') }}">Demo</a>.</p>

              <span class="mb-0 text-muted">
                {% if msg %}
                {{ msg | safe }}
                {% endif %}
              </span>

              <div class="d-flex">
                <br />
              </div>

              <!-- Default form register -->
              <!-- Hide the form on success -->
              {% if not success %}
              <form class="text-center p-3" role="form" method="post" action="">
                {{ form.hidden_tag() }}

                <div class="form-row mb-2">
                  <div class="col">
                    <!-- Username -->
                    {{ form.username(placeholder="Username", class="form-control p_input") }}
                  </div>
                  <div class="col">
                    <!-- First name -->
                    {{ form.firstname(placeholder="First Name", class="form-control p_input") }}
                  </div>
                  <div class="col">
                    <!-- Last name -->
                    {{ form.lastname(placeholder="Last Name", class="form-control p_input") }}
                  </div>
                </div>

                <!-- E-mail -->
                {{ form.email(placeholder="Email", class="form-control p_input") }}

                <!-- Password -->
                {{ form.password(id="defaultRegisterFormPassword", placeholder="Password", class="form-control p_input", type="password") }}
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-2">
                  At least 8 characters and 1 digit
                </small>

                <!-- Phone number -->
                {{ form.phone(type="text", id="defaultRegisterPhonePassword", placeholder="Phone Number", class="form-control p_input") }}
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-2">
                  Optional - for two step authentication
                </small>

                <!-- Newsletter -->
                <div class="custom-control custom-checkbox">
                  {{ form.newsletter(type="checkbox", class="custom-control-input", id="defaultRegisterFormNewsletter")}}
                  <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our
                    newsletter</label>
                </div>

                <!-- Sign up button -->
                <button type="submit" name="register" class="btn btn-info my-1 btn-block waves-effect waves-light"
                  type="submit">Sign
                  up</button>
                <p style="font-size: 0.6rem;">Or click
                  <a href="{{url_for('base_blueprint.login')}}">Log in</a> if you already have an account.</p>

                <!-- Terms of service -->
                <p>By clicking
                  <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a>.

                </p>
              </form>
              {% endif %}
              <!-- Default form register -->

            </section>
            <!--Section: Live preview-->

          </div>
        </div>

      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- row ends -->
</div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}