body { 
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.header {
  z-index: 1;
}

.mainview .catNdog{
  width: 100vw;
}

.mainview .cat{
  background: url(/static/images/cat.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
}

.mainview .dog{
  background: url(/static/images/dog.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-position: right;
}

.mainview .classify{
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  
  /* background-color: rgb(196, 146, 58); */
  background: rgba(200, 152, 48, 0.89);
  background: radial-gradient(circle, rgba(200, 152, 48, 0.719) 0%, rgba(176, 131, 26, 0.849) 90%);

  border-radius: 50%;
  -moz-box-shadow:    0 0 10px #141414;
  -webkit-box-shadow: 0 0 10px #141414;
  box-shadow:         0 0 10px #141414;

  backdrop-filter: blur(5px);

}

.mainview .classify .form-upload{
  height: 14rem;
  width: 14rem;
  text-align: center;
}

.mainview .classify .form-upload form{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

#image-label {
  width: 60%;
}