.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: opacify($bg-group, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 9999; // Navbar 1030, Sidebar 11
}
.loader-wrapper img {
    width: 300px;
    transition: transform 0.5s ease;
}
.loader-wrapper img:hover {
    transform: scale(1.3);
}
