<!-- partial:partials/_footer.html -->
<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">ABOUT&nbsp;US</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">ABOUT OUR AI</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">HELP</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">PRIVACY</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">TERMS</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">JOBS</a>
    </span>
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <a href="#" target="_blank">© 2020 DeepNovel</a>
    </span>
  </div>
</footer>
<!-- partial -->