<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html"><img src="/static/assets/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" target="_blank" rel="noreferrer noopener"
      href="https://appseed.us/admin-dashboards/flask-dashboard-corona-dark">
      <img src="/static/assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <!-- Nav Bar Items -->
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="{{ current_user.profile_picture }}" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">
              {{ current_user.username }}
            </h5>
            <span>
              {{ current_user.email }}
            </span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <!-- Dashboard -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="/">
        <span class="menu-icon">
          <i class="mdi mdi-format-list-bulleted"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <!-- Editor -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="{{ url_for('home_blueprint.new_post') }}">
        <span class="menu-icon">
          <i class="mdi mdi-book-open-page-variant"></i>
        </span>
        <span class="menu-title">Editor</span>
      </a>
    </li>
    <!-- Share -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="/share.html">
        <span class="menu-icon">
          <i class="mdi mdi-share-variant"></i>
        </span>
        <span class="menu-title">Share</span>
      </a>
    </li>
  </ul>
  <!-- Nav Bar Items End -->
</nav>