#editor {
    background: $card-bg;
    color: $card-description-color;
}

#toolbar {
    background: $card-bg;
    color: $card-description-color;
    border: none;
    position: sticky;
    top: 0;
    z-index: 1031; // navbar 1030
    @include shadow;
    #delete-button {
        background-color: rgba(252, 66, 74, 0.2);
    }
}

.buttons,
.buttons:active,
.buttons:hover,
.buttons:visited,
.btn,
.btn:active,
.btn:hover,
.btn:visited {
    text-align: center;
    .btn-generate {
        background-color: $accent-group-1 !important;
        color: $text-muted !important ;
    }
    .btn-analyze {
        background-color: opacify($bg-group, 0.6) !important;
        color: $text-muted !important ;
    }
}
